<div class="container">
	<div class="row">
		<div class="col-md-5">
			<%= attachment_image_tag @photo, :image, size:'300x300', format: 'jpeg' %>

			<%= @photo.text %>

			<% @photo.tag_list.each do |tag| %>
				<%= tag %>
			<% end %>

			<% if @photo.favorited_by?(current_user) %>
				<%= link_to photo_favorite_path(@photo), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @photo.favorites.count %> いいね
				<% end %>
			<% else %>
				<%= link_to photo_favorites_path(@photo), method: :post do %>
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<%= @photo.favorites.count %> いいね
				<% end %>
			<% end %>

			<% if @photo.user_id == current_user.id %>
				<%= link_to 'Edit', edit_photo_path %>
				<%= link_to 'Destroy', photo_path, method: :delete, data: {confirm: "Are you sure?"} %>
			<% end %>
		</div>
		<div class="col-md-7">
			<% @comments.each do |comment| %>
				<%= comment.comment %>

				<% if comment.user_id == current_user.id %>
					<%= link_to 'Edit', edit_photo_comment_path(comment.photo, comment) %>
					<%= link_to 'Destroy', photo_comment_path(comment.photo, comment), method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			<% end %>

			<%= form_with model: [@photo, @comment], local: true do |f| %>
				<%= f.label :comment %>
				<%= f.text_area :comment %>

				<%= f.submit 'Post' %>
			<% end %>
		</div>

	</div>
</div>