<nav class="navbar navbar-expand-lg">
  <div class="container">

    <% if admin_signed_in? %>
        <%= image_tag 'nanimiru-logo.png', size: "150x50" %>
        <ul class="navbar-nav text-right pr-4">
          <li class="nav-item mx-2">
            <%= link_to admin_root_path, class: "nav-link" do %>
              <i class="far fa-images"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to admin_users_path, class: "nav-link" do %>
              <i class="fas fa-users"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to admin_comments_path, class: "nav-link" do %>
              <i class="far fa-comments"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>
        </ul>

    <% else %>

      <% if user_signed_in? %>
        <%= link_to root_path do %>
          <%= image_tag 'nanimiru-logo.png', size: "150x50" %>
        <% end %>
        <ul class="navbar-nav text-right pr-4">
          <li class="nav-item mx-2">
            <%= link_to user_path(current_user.name), class: "nav-link" do %>
              <i class="fas fa-user"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to new_photo_path, class: "nav-link" do %>
              <i class="far fa-plus-square"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to search_path, class: "nav-link" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to contact_path, class: "nav-link" do %>
              <i class="far fa-envelope"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>
        </ul>

      <% else %>
        <%= image_tag 'nanimiru-logo.png', size: "150x50" %>
        <ul class="navbar-nav text-right pr-4">
          <li class="nav-item mx-2">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="far fa-images"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to about_path, class: "nav-link" do %>
              <i class="fas fa-question"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to search_path, class: "nav-link" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to contact_path, class: "nav-link" do %>
              <i class="far fa-envelope"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          </li>
        </ul>
      <% end %>

    <% end %>

  </div>
</nav>