<!DOCTYPE html>
<html>
  <head>
    <title>Nanimiru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/navbar' %>

  <body>
    <div class="background">

      <main>
        <%= yield %>
      </main>

      <footer>
        Have fun ! <%= link_to 'Â©ï¸', new_admin_session_path %> 2020 Nanimiru
      </footer>
    </div>
  </body>

</html>